# Data Exploration
#### This file contains a summary of the data exploration and visualization used in the T-DAT project

In [1]:
import pandas as pd
import numpy as np

### Import data from .csv file

In [2]:
df = pd.read_csv("KaDo.csv", sep=",")

df.head()

,TICKET_ID,MOIS_VENTE,PRIX_NET,FAMILLE,UNIVERS,MAILLE,LIBELLE,CLI_ID
0,35592159,10,1.67,HYGIENE,HYG_DOUCHE JARDINMONDE,HYG_JDM,GD JDM4 PAMPLEMOUSSE FL 200ML,1490281
1,35592159,10,1.66,HYGIENE,HYG_DOUCHE JARDINMONDE,HYG_JDM,GD JDM4 PAMPLEMOUSSE FL 200ML,1490281
2,35592159,10,7.45,SOINS DU VISAGE,VIS_CJOUR Jeunes Specifique,VIS_JEUNE_ET_LEVRE,CR JR PARF BIO.SPE AC.SENT.50ML,1490281
3,35592159,10,5.95,SOINS DU VISAGE,VIS_DEMAQ AAAR,VIS_AAAR_DEMAQLOTION,EAU MICELLAIRE 3 THES FL200ML,1490281
4,35592159,10,1.67,HYGIENE,HYG_DOUCHE JARDINMONDE,HYG_JDM,GD JDM4 TIARE FL 200ML,1490281

### Summarize all available items for sale

In [3]:
items = df[[
    'LIBELLE', 'FAMILLE', 'MAILLE', 'UNIVERS'
]].drop_duplicates().sort_values(by=['FAMILLE', 'MAILLE', 'UNIVERS'])
items.reset_index()
items['LIBELLE'] = items.LIBELLE.astype(str)

items.head(10)

,LIBELLE,FAMILLE,MAILLE,UNIVERS
18,LISSAGE AP SHAMPOING LISSANT 150ML SVC,CAPILLAIRES,CAPILLAIRE_AUTRE,CAP_AP SHAMP
183,SVC NUTRITION AP SH 150ML,CAPILLAIRES,CAPILLAIRE_AUTRE,CAP_AP SHAMP
368,SVC ECLAT COULEUR AP SH 150ML,CAPILLAIRES,CAPILLAIRE_AUTRE,CAP_AP SHAMP
671,APRES SHAMPOOING NUTRI BOUCLES 150ML,CAPILLAIRES,CAPILLAIRE_AUTRE,CAP_AP SHAMP
2013,SVC REPARATION AP SH 150 ML,CAPILLAIRES,CAPILLAIRE_AUTRE,CAP_AP SHAMP
180630,SVC AS NOURRISSANT T150ML,CAPILLAIRES,CAPILLAIRE_AUTRE,CAP_AP SHAMP
2640,EAU DEMELANTE 200ML,CAPILLAIRES,CAPILLAIRE_AUTRE,CAP_TENUE DE LA COIFFURE
3565,SPRAY VOLUME 200ML,CAPILLAIRES,CAPILLAIRE_AUTRE,CAP_TENUE DE LA COIFFURE
6193,SPRAY SCULPTANT 150ML,CAPILLAIRES,CAPILLAIRE_AUTRE,CAP_TENUE DE LA COIFFURE
16209,LISSAGE SERUM LACTE LISSANT 100 ML,CAPILLAIRES,CAPILLAIRE_AUTRE,CAP_TENUE DE LA COIFFURE

### Display summary of all families, mailles and universes

In [4]:
print("Total number of items: {}".format(len(items["LIBELLE"])))
print("Total number of families: {}".format(len(items["FAMILLE"].unique())))
print("Total number of mailles: {}".format(len(items["MAILLE"].unique())))
print("Total number of universes: {}".format(len(items["UNIVERS"].unique())))

Total number of items: 1484
Total number of families: 9
Total number of mailles: 34
Total number of universes: 105

In [5]:
famille_count = items["FAMILLE"].value_counts()
maille_count = items["MAILLE"].value_counts()
univers_count = items["UNIVERS"].value_counts()

print("Number of items per:\n")
print("Familles:\n{}".format(famille_count[:5]))
print("\nMailles:\n{}".format(maille_count[:5]))
print("\nUnivers:\n{}".format(univers_count[:5]))

Number of items per:

Familles:
MAQUILLAGE         692
HYGIENE            229
SOINS DU VISAGE    216
SOINS DU CORPS     143
PARFUMAGE          121
Name: FAMILLE, dtype: int64

Mailles:
MAQ_YEUX_MASCA_EYEL_FARD    181
MAQ_TEINT                   138
MAQ_ONGLES                  119
MAQ_LEV_RAL_HMG             106
VIS_JEUNE_ET_LEVRE          100
Name: MAILLE, dtype: int64

Univers:
MAQ_YEUX Fard               145
MAQ_TEINT Font teint         73
MAQ_ONG Vernis LUM           67
MAQ_YEUX Crayons             48
PARF_PARF ET EAU DE PARF     47
Name: UNIVERS, dtype: int64

## Most popular items for each category

### FAMILLE

In [6]:
df_f = df[['LIBELLE', 'FAMILLE']]
df_f = df_f.groupby(['FAMILLE',
                     'LIBELLE']).size().reset_index(name="count").sort_values(
                         ['FAMILLE', 'count'], ascending=False)
df_f = df_f.groupby('FAMILLE').nth(0).sort_values('count', ascending=False)

df_f.head(5)

                                          LIBELLE   count
FAMILLE
SOINS DU VISAGE  DEMAQ EXPRESS PUR BLEUET FL125ML  158762
HYGIENE                     GD JDM4 LOTUS FL200ML   85914
SOINS DU CORPS        SVC CREME QUOTIDIENNE T75ml   72394
MAQUILLAGE            PORTE MINE NOIR 01 CN3 0.3G   63371
SOLAIRES         LAIT 3EN1 PROTECTYL AP SOL FL150   61617

### MAILLE

In [7]:
df_m = df[['LIBELLE', 'MAILLE']]
df_m = df_m.groupby(['LIBELLE',
                     'MAILLE']).size().reset_index(name="count").sort_values(
                         ['MAILLE', 'count'], ascending=False)
df_m = df_m.groupby('MAILLE').nth(0).sort_values('count', ascending=False)

df_m.head(5)

                                                      LIBELLE   count
MAILLE
VIS_AUTRES                   DEMAQ EXPRESS PUR BLEUET FL125ML  158762
HYG_JDM                                 GD JDM4 LOTUS FL200ML   85914
CORPS_HYDRA_NOURRI_ET_SOINS       SVC CREME QUOTIDIENNE T75ml   72394
HYG_MONOI_ET_EDIT_SPEC               MDT SD DES LAGONS 150 ML   64400
MAQ_YEUX_CLASSIQUE                PORTE MINE NOIR 01 CN3 0.3G   63371

### UNIVERS

In [8]:
df_u = df[['LIBELLE', 'UNIVERS']]
df_u = df_u.groupby(['LIBELLE',
                     'UNIVERS']).size().reset_index(name="count").sort_values(
                         ['UNIVERS', 'count'], ascending=False)
df_u = df_u.groupby('UNIVERS').nth(0).sort_values('count', ascending=False)

df_u.head(5)

                                                 LIBELLE   count
UNIVERS
VIS_DEMAQ BLEUET        DEMAQ EXPRESS PUR BLEUET FL125ML  158762
HYG_DOUCHE JARDINMONDE             GD JDM4 LOTUS FL200ML   85914
CORPS_SOIN DES MAINS         SVC CREME QUOTIDIENNE T75ml   72394
HYG_DOUCHE MONOI                MDT SD DES LAGONS 150 ML   64400
CORPS_HYDRA NOURRISANT           SVC REP LAIT REP T150ML   63864

## Mean Prices per category

### FAMILLE

In [9]:
df_price_f = df[["PRIX_NET", "FAMILLE"]]
df_price_f = df_price_f.groupby(
    ["FAMILLE"])["PRIX_NET"].mean().apply(lambda x: np.round(x, 2))

df_price_f.head()

FAMILLE
CAPILLAIRES        4.17
HYGIENE            2.78
MAQUILLAGE         6.62
MULTI FAMILLES     4.53
PARFUMAGE         13.48
Name: PRIX_NET, dtype: float64

### MAILLE

In [10]:
df_price_m = df[["PRIX_NET", "MAILLE"]]
df_price_m = df_price_m.groupby(["MAILLE"])["PRIX_NET"].mean().apply(lambda x: np.round(x, 2))

df_price_m.head()

MAILLE
CAPILLAIRE_AUTRE               5.07
CAPILLAIRE_SHAMPOING           3.70
CORPS_HYDRA_NOURRI_ET_SOINS    4.73
CORPS_HYDR_LAIT_HUILE          4.63
CORPS_MONOI                    6.58
Name: PRIX_NET, dtype: float64

### UNIVERS

In [11]:
df_price_u = df[["PRIX_NET", "UNIVERS"]]
df_price_u = df_price_u.groupby(
    ["UNIVERS"])["PRIX_NET"].mean().apply(lambda x: np.round(x, 2)).sort_values()

df_price_u.head()

UNIVERS
HYG_BAIN SEL HUILE PERLE    1.18
VIS_SOIN LEVRES             1.78
MAQ_ONG Vernis LUM          1.83
HYG_DOUCHE JARDINMONDE      1.90
HYG_DOUCHE EDT ETE          2.03
Name: PRIX_NET, dtype: float64

## Per Client

### MEAN

In [12]:
df_price_c = df[["PRIX_NET", "CLI_ID"]]
df_price_c = df_price_c.groupby(
    ["CLI_ID"])["PRIX_NET"].mean().apply(lambda x: np.round(x, 2)).sort_values(
        ascending=False)

df_price_c.head()

CLI_ID
990122959    871.50
991984851    450.00
989882490    333.98
994072152    306.00
996143282    280.58
Name: PRIX_NET, dtype: float64

### STD

In [13]:
df_price_std = df[["PRIX_NET", "CLI_ID"]]
df_price_std = df_price_std.groupby(
    ["CLI_ID"])["PRIX_NET"].std().apply(lambda x: np.round(x, 2)).sort_values(ascending=False)

df_price_std.head()

CLI_ID
989882490    575.92
990122959    539.78
996143282    241.72
996222581    238.84
996574684    196.29
Name: PRIX_NET, dtype: float64

## Per Ticket

### Mean Spent

In [14]:
df_price_mean = df[["PRIX_NET", "TICKET_ID"]]
df_price_mean = df_price_mean.groupby(
    ["TICKET_ID"])["PRIX_NET"].mean().apply(lambda x: np.round(x, 2)).sort_values(ascending=False)
df_price_mean.head()

TICKET_ID
35517898    930.8
33107984    871.5
34932826    780.0
35551480    500.0
35103455    450.0
Name: PRIX_NET, dtype: float64

### Number of items

In [27]:
df_mean_ticket = df[['LIBELLE', 'TICKET_ID']]
df_mean_ticket = df_mean_ticket.groupby(['TICKET_ID'
                                         ]).size().reset_index(name="count").sort_values("count", ascending=False)

df_mean_ticket.head(5)

         TICKET_ID  count
2573428   36298326    225
1231535   34537378    215
2465160   36156070    140
2538268   36251447    114
2006167   35564305    105

In [26]:
mean_ticket = df_mean_ticket["count"].mean()

print("Mean number of items per tickets: {}".format(np.round(mean_ticket, 2)))

Mean number of items per tickets: 2.65